<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../components/navLoader.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="colaboradores.css">
    <title>Lista de Colaboradores</title>

</head>

<body>
    <!-- Modal de Adição e Edição-->
    <div id="modal-cria-colaborador" class="modal">
        <div class="modal-content">
            <span id="close-modal-cria-colaborador" class="close">&times;</span>
            <h2 id="title-modal">Criar Colaborador</h2>
            <input type="text" id="id-colaborador" hidden>
            <div class="form-label">
                <label for="nome-colaborador">Nome:</label>
                <input class="input-style" type="text" id="nome-colaborador" name="nome-colaborador" required>
            </div>
            <div class="form-label">
                <label for="profissao">Profissão:</label>
                <input class="input-style" type="text" id="profissao" name="profissao" type="text">
            </div>
            <div class="form-label">
                <label for="cpf-colaborador">Cpf:</label>
                <input class="input-style" type="text" id="cpf-colaborador" name="cpf-colaborador" type="text" maxlength="14" required>
            </div>
            <div class="form-label">
                <button id="btn-salvar-colaborador" class="btn-success btn-lg" type="button">Salvar</button>
            </div>

        </div>
    </div>

    <div class="header"></div>
    <div class="conteiner-content">
        <h2>Colaboradores</h2>

        <!-- ### Add Colaborador ### -->
        <button id="open-modal-cria-colaborador" class="btn-success btn-md">Criar novo Colaborador</button>

        <input class="input-style" type="text" id="searchInput" placeholder="Pesquisar Colaborador...">
        <hr>

        <div id="content">
            <!-- Os Colaboradores serão adicionados aqui dinamicamente -->
        </div>
    </div>

    <script src="../../components/navLoader.js"></script>
    <script src="../../../renderer.js"></script>
    <script type="module" src="../../service/colaboradores.js"></script>
</body>

</html>