<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../components/navLoader.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="clientes.css">
    <title>Lista de Clientes</title>

</head>

<body>
    <!-- Modal de Edição -->
    <div id="modal-cria-cliente" class="modal">
        <div class="modal-content">
            <span id="close-modal-cria-cliente" class="close">&times;</span>
            <h2 id="title-modal">Criar Cliente</h2>
            <input class="input-style" type="text" id="id-cliente" hidden>
            <div class="form-label">
                <label for="nome-cliente">Nome:</label>
                <input class="input-style" type="text" id="nome-cliente" name="nome-cliente" required>
            </div>
            <div class="form-label">
                <label for="telefone-cliente">Telefone:</label>
                <input class="input-style" type="text" id="telefone-cliente" name="telefone-cliente" type="tel" maxlength="15" required>
            </div>
            <div class="form-label">
                <label for="cpf-cliente">Cpf:</label>
                <input class="input-style" type="text" id="cpf-cliente" name="cpf-cliente" type="text" maxlength="14" required>
            </div>
            <div class="form-label">
                <button id="btn-salvar-cliente" class="btn-success btn-lg" type="button">Salvar</button>
            </div>

        </div>
    </div>

    <div class="header"></div>
    <div class="conteiner-content">
        <h2>Lista de Clientes</h2>

        <!-- ### Add Cliente ### -->
        <button id="open-modal-cria-cliente" class="btn-success btn-md">Criar novo Cliente</button>

        <input class="input-style" type="text" id="searchInput" placeholder="Pesquisar Cliente...">
        <hr>

        <div id="content">
            <!-- Os clientes serão adicionados aqui dinamicamente -->
        </div>
    </div>

    <script src="../../components/navLoader.js"></script>
    <script src="../../../renderer.js"></script>
    <script type="module" src="../../service/clientes.js"></script>
</body>

</html>