* {
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(48, 27, 141, 0.39);
  display: flex;
  flex-direction: row;
}

.conteiner-content {
  width: 100%;
  margin: 20px;

}

#content {
  height: calc(100vh - 200px);
  overflow-y: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 370px;
  box-shadow: 8px 5px 20px;
  animation: fadeIn 0.3s;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Confirmation and cancel buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-style {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 240px;
}

button {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

.btn-success {
  background-color: green;
  color: #f2f2f2;
}

.btn-warning {
  background-color: rgb(204, 134, 3);
  color: #f2f2f2;
}

.btn-danger {
  background-color: rgb(173, 0, 0);
  color: #f2f2f2;
}

.btn-sm {
  width: 60px;
}

.btn-md {
  width: 200px;
}