/* Estilos específicos para o navLoader */
/* Variáveis CSS para facilitar a manutenção */
:root {
  --bg-gradient-start: rgb(26, 17, 65);
  --bg-gradient-middle: rgb(55, 7, 87);
  --bg-gradient-end: rgba(61, 2, 42, 0.952);
  --link-color: white;
  --link-hover-bg: rgba(61, 2, 42, 0.527);
  --border-color: #ffffff;
  --transition-duration: 0.3s;
  --link-padding: 10px;
  --link-margin: 10px;
  --link-border-radius: 10px;
}

/* Estilos específicos para o navLoader */
.header {
  background: linear-gradient(180deg, var(--bg-gradient-start) 5%, var(--bg-gradient-middle) 50%, var(--bg-gradient-end) 100%);
  padding: 0;
  height: 100vh;
  display: flex;
}

.header nav {
  padding: 30px 5px;
}

.header nav ul,
.header nav div {
  width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header nav ul li a,
.header nav div li a {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
  color: var(--link-color);
  padding: var(--link-padding);
  margin: var(--link-margin);
  border-radius: var(--link-border-radius);
  transition: background-color var(--transition-duration) ease;
}

.header nav ul li a.active,
.header nav div li a.active {
  background-color: var(--link-hover-bg);
}

.header nav ul li a:hover,
.header nav div li a:hover {
  font-weight: bold;
  background-color: var(--link-hover-bg);
}

.hidden {
  display: none;
}