<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../components/navLoader.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="home.css">
    <title>Lista de Lançamentos</title>
</head>

<body>
    <!-- alerta -->
    <div id="custom-alert" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p>Tem certeza que deseja excluir? Esta ação é irreversível</p>
            <div class="button-container">
                <button class="btn-success" id="confirm-delete">Sim, deletar</button>
                <button class="btn-danger" id="cancel-delete">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Modal de Adição e Edição-->
    <div id="modal-cria-venda" class="modal">
        <div class="modal-content">
            <span id="close-modal-cria-venda" class="close">&times;</span>
            <h2 id="title-modal">Lançar Servico</h2>
            <input type="text" id="id-servico" hidden>
            <div class="form-label">
                <label for="data">Data/Hora:</label>
                <input class="data-input" type="datetime-local" id="data" required>
            </div>
            <div class="form-label">
                <label for="select-clientes">Cliente:</label>
                <select id="select-clientes">
                    <!-- Options will be dynamically inserted here -->
                </select>
            </div>
            <div class="form-label">
                <label for="select-colaboradores">Colaborador:</label>
                <select id="select-colaboradores">
                    <!-- Options will be dynamically inserted here -->
                </select>
            </div>

            <!-- CHECKBOX SERVICOS -->
            <div class="show-selected-services"></div>
            <div class="dropdown">
                <div class="select-services">Selecione os Serviços</div>
                <div class="dropdown-content" id="checkbox-container"></div>
            </div>
            <div class="form-label">
                <button id="btn-salvar-venda" class="btn-success btn-lg" type="button">Salvar</button>
            </div>
        </div>
    </div>

    <div class="header"></div>
    <div class="conteiner-content">
        <div style="display: flex; justify-content: space-between;">
            <h2>Lançamentos
                <button class="btn-success btn-md" style="max-width: 150px;" id="open-modal-cria-venda">
                    Adicionar
                </button>
            </h2>
            <div class="box-total-preview" id="total"></div>
        </div>
        <div style="display: inline-block;">
            <div style="width: 395px ; display: inline-block; flex-wrap:wrap; padding-right: 10px;">
                <label for="">Período:</label><br>
                <input class="filter-input" type="week" id="filtro-semana" name="semana"> ou
                <input class="filter-input" type="month" id="filtro-mes" name="mes">
            </div>

            <div style="display: inline-block; flex-wrap:wrap;">
                <label for="">Filtrar por:</label><br>
                <select class="filter-input" id="filtro-colaborador" name="colaborador">
                    <!-- Options will be dynamically inserted here -->
                </select>
                <input class="filter-input" type="search" id="filtro-cliente" name="cliente" placeholder="Cliente ...">

                <button style="width: 52px;" class="btn-md btn-warning" id="btn-filtrar">Filtrar</button>
                <button style="width: 52px;" class="btn-md btn-danger" id="btn-limpar-filtro">Limpar</button>
                <button style="width: 52px;" class="btn-md btn-success" hidden id="btn-gerar-pdf">Export</button>
            </div>
        </div>

        <hr>
        <div id="content">
            <!-- Os Serviços serão adicionados aqui dinamicamente -->
        </div>
    </div>

    <script src="../../components/navLoader.js"></script>
    <script src="../../../renderer.js"></script>
    <script type="module" src="../../service/home.js"></script>
    <script src="https://unpkg.com/jspdf-invoice-template@1.4.3/dist/index.js"></script>
</body>

</html>